<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DisplayMovies</servlet-name>
        <servlet-class>movie.DisplayMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayTimesServlet</servlet-name>
        <servlet-class>movie.DisplayTimesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>movie.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayConcessionServlet</servlet-name>
        <servlet-class>movie.DisplayConcessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAdminConcessionServlet</servlet-name>
        <servlet-class>movie.DisplayAdminConcessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayMovies</servlet-name>
        <url-pattern>/displayMovies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayTimesServlet</servlet-name>
        <url-pattern>/displayTimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayConcessionServlet</servlet-name>
        <url-pattern>/DisplayConcessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayConcessionServlet</servlet-name>
        <url-pattern>/displayConcessions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAdminConcessionServlet</servlet-name>
        <url-pattern>/DisplayAdminConcessionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
